//primary colors
$primary-color: #edf2f8;
$secondary-color: #313bac;

$white-color: #ffffff;

$gray-color: #6b7688;

$black-color: #030303;

$silver-color: #afafaf;

$navyblue-color: #0a192f;

$light-navyblue-color: #112240;

$lightest-navyblue-color: #233554;
