@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as breakpoint;
@use "../../styles/partials/mixins" as *;

.hero {
	flex: 1;
	width: 100%;
	height: 100vh;

	&__container {
		max-width: 80rem;
		margin: 1rem auto;
		display: flex;
		align-items: center;
		justify-content: center;
		// padding: 1rem 4rem;
		height: 100%;
		width: 100%;
	}

	&__content {
		width: 100%;
		// height: 80%;
		padding: 3rem 3rem;
		background-color: $primary-color;
		border-radius: 1rem;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

		&--intro {
			@include desktopBodyLarge;
			color: $navyblue-color;
			font-weight: 500;
		}

		&--name {
			font-size: 5rem;
			color: $light-navyblue-color;
			margin-top: 2rem;
			margin-bottom: 1rem;
		}
		&--caption {
			font-size: 4rem;
			color: $light-navyblue-color;
			margin-bottom: 3rem;
		}
		&--typewritten {
			font-size: 4rem;
			color: $gray-color;
		}
	}

	.connect {
		&__btn {
			width: 10.9375rem;
			padding: 0.7rem 2rem 0.7rem 2rem;
			color: $light-navyblue-color;
			font-weight: 500;
			border: 1px solid $navyblue-color;
			border-radius: 0.5rem;
			font-family: "atlasgrotesk";
			display: inline-block;

			&:hover {
				box-shadow: inset 200px 0 0 0 $navyblue-color;
				color: #fff;
				transition: all 0.3s ease-in-out;
			}
		}
	}
}

/*  MOBILE   */
@include breakpoint.small {
	.hero {
		flex: 1;
		width: 100%;
		height: auto;
		padding-top: 5rem;

		&__container {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0rem 2rem;
			height: 100%;
			width: 100%;
		}
		&__content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			padding: 2rem 0rem;
			background-color: #fff;
			border-radius: 0;
			box-shadow: none;

			&--intro {
				@include desktopBodyLarge;
				color: $navyblue-color;
				font-weight: 500;
			}

			&--name {
				font-size: 2.5rem;
				color: $light-navyblue-color;
				line-height: 2.5rem;
				margin-top: 2rem;
				margin-bottom: 1rem;
			}
			&--caption {
				font-size: 1.75rem;
				line-height: 2.5rem;
				color: $light-navyblue-color;
				margin-bottom: 3rem;
			}
			&--typewritten {
				font-size: 1.75rem;
				color: $gray-color;
				line-height: 2.5rem;
				margin-bottom: 3rem;
			}
		}
	}
	.connect {
		&__btn {
			width: 10.9375rem;
			padding: 0.7rem 2rem 0.7rem 2rem;
			background-color: $light-navyblue-color;
			font-weight: 500;
			border: none;
			border-radius: 0.5rem;
			font-family: "atlasgrotesk";
			display: inline-block;

			&-text {
				color: #fff;
			}

			&:hover {
				background-color: $navyblue-color;
				color: #fff;
				transition: all 0.3s ease-in-out;
			}
		}
	}
}

/*  TABLET  */
@include breakpoint.medium {
	.hero {
		flex: 1;
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 5rem;

		&__container {
			margin: 2rem 3rem;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 75%;
			width: 100%;
		}

		&__content {
			width: 100%;
			padding: 3rem 3rem;
			background-color: $primary-color;
			border-radius: 1rem;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

			&--intro {
				@include desktopBodyLarge;
				color: $navyblue-color;
				font-weight: 500;
			}

			&--name {
				font-size: 5rem;
				color: $light-navyblue-color;
				margin-top: 2rem;
				margin-bottom: 1rem;
			}
			&--caption {
				font-size: 3.75rem;
				color: $light-navyblue-color;
				margin-bottom: 3rem;
			}
			&--typewritten {
				font-size: 3.75rem;
				color: $gray-color;
			}
		}
	}
}

/*  DESKTOP  */
@include breakpoint.large {
	.hero {
		flex: 1;
		width: 100%;
		height: 100vh;

		&__container {
			max-width: 80rem;
			margin: 1rem auto;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 100%;
		}

		&__content {
			width: 100%;
			margin: 0rem 4rem;
			padding: 3rem 3rem;
			background-color: $primary-color;
			border-radius: 1rem;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

			&--intro {
				@include desktopBodyLarge;
				color: $navyblue-color;
				font-weight: 500;
			}

			&--name {
				font-size: 5rem;
				color: $light-navyblue-color;
				margin-top: 2rem;
				margin-bottom: 1rem;
			}
			&--caption {
				font-size: 4rem;
				color: $light-navyblue-color;
				margin-bottom: 3rem;
			}
			&--typewritten {
				font-size: 4rem;
				color: $gray-color;
			}
		}
	}
}
